<div class="row">  
  <h4>Welcome to GCPD Tracking System.</h4>  
  <div class="col s12">
    <div class="carousel">
      <a class="carousel-item" href="#one"><%= image_tag 'police/team1.jpg' %></a>
      <a class="carousel-item" href="#two"><%= image_tag 'police/team2.jpg' %></a>
      <a class="carousel-item" href="#three"><%= image_tag 'police/individual1.jpg' %></a>
      <a class="carousel-item" href="#four"><%= image_tag 'police/individual2.jpg' %></a>
      <a class="carousel-item" href="#five"><%= image_tag 'police/group1.jpg' %></a>
      <a class="carousel-item" href="#six"><%= image_tag 'police/group2.jpg' %></a>
    </div>
    <div class="card">
      <div class="card-content">
        <p>The GCPD Tracking system is used by the Gotham City Police Department to track crimes online. We're a great team of professionals ready to assist you. Your safety is our primary concern. The links below will tell you more about our services and in the near future we will be expanding this site so that more police departments will be able to track crimes online efficiently and provide a safe environment for the general public.
        </p>
      </div>
    </div>
  </div>
</div>
